body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #310e55;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8c6adc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

div.position {
    position:relative;
    display:inline;
    overflow: hidden;
    left: 35%;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #310e55;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*The Welcome landing page begins here*/

div.mainimg {
    position: relative;
}

img.image1 {
    height: auto;
    width: 100%;
}

img.logo {
    height: auto;
    max-width: 130px;

}

.menu {
    height: auto;
    width: 10%;
}


@media only screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

div.capt {
    position: absolute;
    top: 17%;
    width: 100%;
    text-align: center;
    font-size: 3.5vw;
    color: white;
}

p.pro {
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: center;
    border-radius: 20px;
    height: auto;
    width: 35%;
    padding: 20px;
    font-size: 2.1vw;
}

p.hire {
    position: absolute;
    top: 120%;
    left: 40%;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    padding: 14px 25px;
    font-size: 24px;
    background-color: #d25fad;
    text-decoration: none;
    color: #f1f1f1;
}

@media only screen and (max-height: 450px ) {
    p.hire {
        min-width: 200px;
    }
}

p.hire a:link {
    color: #f1f1f1;
}

p.hire:hover {
    text-decoration: none;
    background-color: #be539c;
}

div.responsive {
    background-color: white;
    padding-bottom: 520px;
}

div.responsive-2 {
    background-color: rgb(241, 241, 241);
    padding-bottom: 520px;
}

[class|=gallery] {
    float: left;
    width: 43%;
    height: auto;
    margin: 20px 0px;
}

[class|=galler] {
    float:left;
    width: 43%;
    height: auto;
    margin: 20px 0px;
}

div.galler-txt {
    margin: 20px 60px;
    overflow: hidden;
}

div.gallery {
    background-color: white;
    margin: 40px 60px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #310e55;
}

div.galler img{
    width: 100%;
}

div.galler {
    margin: 40px 0px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

div.gallery-txt h2 {
    color: #310e55;
}

div.galler-txt h2 {
    color: #310e55;
    font-size: xx-large;
}

div.gallery img {
    width: 100%;
}

div.desc {
    padding: 20px;
    text-align: center;
    background-color: #310e55;
    color: white;
    font-weight: 700;
    font-size: large;
}

div.desc:hover {
    background-color: #8c6adc;
    color: #310e55;
    cursor: pointer;
}

div.gallery a {
    text-decoration: none;
}

div.galler a {
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    div.gallery ,div.galler {
        width: 100%;
        margin: 6px 14px;
    }
}

@media only screen and (max-width: 500px) {
    div.responsive ,div.responsive-2 {
    width: 100%;
    }
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 8px;
    font-weight: 550;
    color: #310e55;
    font-size: 19px;
}

.col-75 {
    float: right;
    width: 65%;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: #310e55;
}
